<section class="footer-wrap">
  <footer class="site-footer">
<div>
  Supported by <a href="https://europa.eu/european-union/index_en"><img height="20px;" src="/library/images/eu_logo.svg"  alt="EU logo"></a>
  <a href="http://www.birmingham.ac.uk/generic/zencode-itn/index.aspx"><img height="20px;" src="/library/images/zencode_logo.jpg" alt="ZENCODE logo"></a>
  <a href="http://www.bbsrc.ac.uk/"><img height="24px;" src="/library/images/bbsrc_logo.png"  alt="BBSRC logo"></a>
  <a href="https://zfin.org/"><img height="22px;" src="/library/images/zfin_logo.png"  alt="ZFIN logo"></a>
</div>
  </footer>
</section>
