html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  font-family: sans-serif;
  background-image: url("../images/BackgroundZFIN.png");
  /*background-repeat: repeat;*/
/*background-attachment: fixed;
background-position: center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  color:inherit;}
.text-container a{
  text-decoration: underline;
}
a:hover{
  color:  #30A64A;
}
.jumbotron{
  background-image: url("../images/zencode-banner-1.jpg");
  min-height: 20em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
}

.img_div img{
  padding: 0.5em;
}

.profiles .card{
  width: 17.5em;
}

.profiles .card-img-top{
  height:15em;
  width: auto;
}
.org-img{
  height: auto;
  width: auto;
  max-width: 70%;
  max-height: 3em;
}

.org-img-lg{
  height: auto;
  width: auto;
  max-height: 5em;
  align-self: center;
}

.profile-img{
  height: auto;
  width: auto;
  max-width: 15em;
  align-self: center;
}
.profile{
  max-width: 60em;
}
.profile-text{
  -webkit-columns: 2 20em;
  columns: 2 20em;
}
.profile h2, .profile h3{
  color: #30A64A;
}
.secondment-entry img{
  height: auto;
  width: auto;
  max-width: 100%;
}
.secondments .card{
  max-width: 48%;
}
.text-container{
  margin-top: 1em;
  padding: 1em;
  background-color: rgba(250,250,250,0.75);
}
.post-image{
  height: auto;
  width: auto;
  max-width: 90%;
}
.post-image-sm{
  height: auto;
  width: auto;
  width: 50%;
}
.post-image-jenga{
  height: auto;
  width: auto;
  width: 33%;
}
.image-gallery{
  max-height: 1550px;
}
.image-gallery-jenga{
  max-height: 2200px;
}
.vertical-bar{
border-left: 1.2pt solid grey;
margin-right: 0.25em;
}

.social-media-div{
  color:#30A64A;
  width: 50%;
}
.social-media-div a{
  text-decoration: none;
}
.fab{

}
hr{
width: 100%;
}
#map{
  width: 100%;
  height: 450px;
}
.maphover {
    padding: 0;
    border: 0;
    background-color: transparent;
    box-shadow: 0;
}
