<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#30A64A">
  <!-- HTML Meta Tags -->
  <title>{{page.title}}</title>


  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="{{page.title}}">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://zencode-itn.github.io">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{page.title}}">


  <!-- Twitter Meta Tags -->

  <meta name="twitter:title" content="{{page.title}}">
  {% if page.preview-image %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{site.url}}{{page.preview-image}}">
  <meta property="og:image" content="{{site.url}}{{page.preview-image}}">
  <meta itemprop="image" content="{{site.url}}{{page.preview-image}}">
  {% else %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{site.url}}/library/images/zencode_thumbnail.png">
  <meta property="og:image" content="{{site.url}}/library/images/zencode_thumbnail.png">
  <meta itemprop="image" content="{{site.url}}/library/images/zencode_thumbnail.png">
  {% endif %}
  {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}">
  <meta property="og:description" content="{{ page.summary }}">
  <meta name="description" content="{{page.summary}}">
  <meta itemprop="description" content="{{page.summary}}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta name="description" content="{{site.description}}">
  <meta itemprop="description" content="{{site.description}}">
  {% endif %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/library/css/academicons.min.css">
  <link rel="stylesheet" type="text/css" href="/library/css/main.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous"></script>

  {% if page.header == "map" %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
  <script src="/library/js/datamaps.world.min.js"></script>
  {% endif %}
  <script src="/library/js/main.min.js"></script>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
</head>

<body>
  {% include header.html %} {% if page.path == "index.html" %} {% include banner.html %}
  <style>
    body {
      background-image: none;
    }
  </style>
  {% endif %}
  <div class="fluid d-flex flex-column align-items-center">
    <div class="container-fluid h-100">
      <div class="row">
        {{ content }}
      </div>
    </div>
  </div>
  {% comment %} {% if page.path == "index.html" %} {% include twitter-sidebar.html %} {% endif %} {% endcomment %}
  </div>
  </div>
  {% include footer.html %}
</body>

</html>
