---
layout: default
title: index
---

<div class="text-container-md col-md-12 mt-0">
  <div class="lead text-center">
  <p>
    The ZENCODE-ITN consortium focuses on understanding genome regulation through combined experimental and computational approaches using zebrafish as a model organism.
  </p>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="post-image m-auto" src="/library/images/atcs/atc4-5/atc4-01.jpg" alt="ZENCODE ITN group picture Munster">
    </div>
    <div class="carousel-item">
      <img class="post-image m-auto" src="/library/images/conferences/carmona-09.jpg" alt="ZENCODE ITN group picture Carmona">
    </div>
    <div class="carousel-item">
      <img class="post-image m-auto" src="/library/images/atcs/atc7/atc7-02.jpg" alt="ZENCODE ITN group picture Carmona">
    </div>
    <div class="carousel-item">
      <img class="post-image m-auto" src="/library/images/sounio_group.jpg" alt="ZENCODE ITN group picture Carmona">
    </div>
  </div>
</div>
  The network is a Marie Curie initial training programme funded by the European Union under the H2020 programme.

  </div>
</div>

<div class="twitter text-center">
  <a class="twitter-timeline" data-dnt="true" data-chrome="nofooter noheader noborders" data-link-color="#249D3D" href="https://twitter.com/ZencodeITN?ref_src=twsrc%5Etfw"><i style="color:#249D3D" class="fab fa-twitter fa-spin"></i></a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!-- <a class="twitter-timeline" data-chrome="nofooter noheader noborders" data-dnt="true" href="https://twitter.com/ZencodeITN" data-widget-id="702486787701264385">Tweets by @ZencodeITN</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->

</div>
