---
layout: default
---
<div class="profile d-flex flex-column  m-2 text-container">
  <div class="profile-header ">
    <div class="d-flex flex-row justify-content-between">
      <img class="profile-img" src="{{ page.profile-pic }}" />

      <div class="d-flex flex-column align-items-end justify-content-start">
        <img class="org-img-lg   align-self-end" src="{{ page.orginsation-pic }}" />
        <h2 class="mt-auto">{{page.title}}</h2>
        <div class="social-media-div d-flex flex-row w-100 justify-content-end">
          {% if page.github %}
          <a class="mr-3" href="https://github.com/{{page.github}}"><i class="fab fa-github"></i> {{page.github}}</a> {% endif %} {% if page.twitter %}
          <a class="mr-3" href="https://twitter.com/{{page.twitter}}"><i class="fab fa-twitter"></i>@{{page.twitter}}</a> {% endif %} {% if page.linkedin %}
          <a class="mr-3" href="https://linkedin.com/in/{{page.linkedin}}"><i class="fab fa-linkedin"></i> {{page.linkedin | split: "-" | first}}</a> {% endif %}
        </div>

      </div>
    </div>
  </div>
<hr/>
  <div class="profile-text">
    {{ content }}
  </div>
</div>
