---
layout: default
---
<h1 class="mt-3">Early Stage Researchers (ESRs)</h1>
<div class="profiles d-flex flex-row flex-wrap">
  {% for researcher in site.researchers %}
  <div class="card m-2 border-success">
    <div class="card-body d-flex flex-column align-items-start">
      <a href="{{ researcher.url }}">
      <img href="{{ researcher.url }}" class="card-img-top" src="{{researcher.profile-pic}}" alt="{{researcher.name}}">
      <h2 class="card-title"  class="align-self-end">
        {{ researcher.name }}
      </h2>
      </a>
      <div class="card-text w-100 mt-auto d-flex flex-row  align-items-end justify-content-between">
        <img class="org-img" src="{{ researcher.orginsation-pic }}" />
        <a href="{{ researcher.url }}" class="btn btn-success ml-auto">More</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
